<div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <div class="span4">
                    {#}    {% if adresse.utilisateur != null %}
	                {#}        <form action="#" method="POST">
	                        	<h4>Adresse de livraison et de facturation</h4>
	                            {% for adresse in adresses %}
		                            <label class="radio">
		                                <input type="radio" name="livraison" >
		                                <br/>
		                                {{adresse.telephone}} <br/>
		                                {{ adresse.nom }} {{ adresse.prenom }} <br/>
		                                {{ adresse.rue }}  <br/>
		                                {{ adresse.complement }} 
		                            {#}    <a href="#"><i class="icon-trash"></i></a>
		                             {#}<br/>{{ adresse.ville }}-{{ adresse.codepostal}}
		                                <br/>
		                            </label>
		      	                 {% endfor %}
		                     </form>
		             {#}    {% endif %}
		            {#} </div>
		         </div>
		     </div>