{% set tmp = app.session.get('adresse')  %}   
<div  class="accordion-body collapse in" >
    <div class="accordion-inner">
        <div class="span4">
           
                    {% if app.session.get('adresse') is defined %}
                        <form action="{{ path('multi_service_gsm_front_validation') }}" method="POST">
                       
                           <h4>Adresse de livraison et de facturation</h4>
                                {% for addresse in tmp %}
                            
             {#}        
                       {{ dump(tmp) }}
                    {{dump(app.session.get('adresse'))}}
           
                        <form action="#" method="POST">
            {#} 

                                    <label class="radio" style="margin-top:100px;">
                                        <input type="radio" name="livraison" value="{{ app.session.get('adresse')[0].id }}" {% if loop.index0 == 0 %}checked="checked"{% endif %} >
                                        {{ addresse.nom }} {{ addresse.prenom }} <br/>
                                        {{addresse.telephone}} <br/>
                                        {{ addresse.rue }}  <br/>
                                        {{ addresse.complement }} 
                                        <a href="{{path('multi_service_gsm_adresse_livraison_suppression', 
                                        {'id':app.session.get('adresse')[0].id }) }}"><i class="icon-trash"></i></a> <br/>
                                        {{addresse.ville }}-{{addresse.codepostal}}<br/>
                                    </label>
                            
                                {% endfor %}
                            <button  type="submit" class="btn btn-primary">Valider l'adresse</button>
                      </form>
                 {#}
                {#}
              {% else %}
                <p>vous n'avez pas ajouter d'adresse postale dans votre profil</p>
    		{% endif %}
        
         </div>
     </div>
 </div>