<style type="text/css">
table{width: 100%; border-collapse: collapse}
    .header td{width: 50%; vertical-align: top}
    .text-left{text-align: left}
    .text-right{text-align: right}
    .text-center{text-align: center}
    .separator{height: 150px; width: 100%}
    .content td{border:solid 1px #CFD102; padding: 5px; width: 25% }
    .content th{border: solid 1px #000000; padding: 5px ;background-color:#000000;color:#ffffff ; }
</style>

<page backtop="20mm" backright="10mm" backbottom="20mm" backleft="10mm">
    <table class="header">
        <tr>
            <td class="text-left">
                <h1>Multi Service GSM</h1>
                <span>Adresse: 11 Place du Général de Gaulle</span><br>
                <span>45000 Orléans</span> <br>
                <span>France</span><br>
                <span>Telephone:  02 38 80 26 43</span><br>
                <br>
                <br>
                <h1>Destinataire</h1>
                <span>{{ adresse.nom }}</span><br>
                <span>{{ adresse.prenom }}</span><br>
                <span>{{ adresse.rue }}</span><br>
                <span>{{ adresse.complement }}</span><br>
                <span>{{ adresse.ville }}</span><br>
                <span>{{ adresse.codepostal }}</span><br>
                <span>{{ adresse.telephone }}</span><br>
            </td>
             <td class="text-right">
               <b> numero de la commande:</b>
            </td>
        </tr>
    </table>
    <br>
    <table class="content">
        <thead>
            <tr>
                <th class="text-right" >Date</th>
                <th class="text-left" >Référence</th>
                <th class="text-center" >Quantité</th>
                <th class="text-center" >Prix TTC</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}

            <tr>
                <td class="text-right">{{ date|date('d/m/Y') }}</td>
                <td class="text-left">{{article["name"]}}</td>
                <td class="text-center">{{article["quantity"]}}</td>
                <td class="text-center"> {{article["price"]}}{{article["currency"]}}</td>
            </tr>
          {% endfor %}
          
        </tbody>
    </table>
             <br>
        <div class="separator"></div>


</page>
