{% extends "::base.html.twig"%}
{% set totalTTC = 0%}
{% block body %}
	{% include '::menu.html.twig' %}
	<div class="container">
		 <div class="row">
	        <div class="span12">
	            <h2>Récapitulatif de la commande</h2>
	            <div id="collapseOne" class="accordion-body collapse in">
	                <div class="accordion-inner col-md-12">
	                    <div class="span4 col-md-4">
	                  			
	                    		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	                    		
	                   			{% include 'MultiServiceGsmFrontBundle:Panier:adresseLivraison.html.twig' %} 
	           {#}  
	              				{{dump()}}

	           {#} 
	                    		{% else %} 
	                		<h2>Pour se connecter ou s'inscrire</h2>
	                    			<a href="{{ path('fos_user_security_login')}}" class="btn btn-info" role="button">se connecter/s'inscrire</a>
	                    		{% endif %}
	                    </div>
	                     <div class="span4 offset2 col-md-4">
	                        <h4>Ajouter une nouvelle adresse</h4>
	                        
			                    	{{ form_start(form, { 'method': 'POST'}) }}

			    						{{ form_widget(form) }}
			    						<input type="submit" name="Continuer" />
			    					{{ form_end(form) }}
	                    </div>
	                    <div class="col-md-4">
	                    	<h2>Votre panier</h2>
			                <table class="table table-striped table-hover">
			                    <thead >
			                        <tr>
			                            <th>Références</th>
			                            <th>Quantité</th>
			                            <th>Prix unitaire</th>
			                            <th>Total HT</th>
			                        </tr>
			                    </thead>
			                    <tbody>
			                    	{% if produits|length == 0 %}
			                    		<tr>
			                    			 <td colspan="4"><center>Aucun articles dans votre panier</center></td>
			                    		</tr>
			                    	{% endif %}

			                    	{% for produit in produits %}
			                        	<tr>
					                   		<form>
					                            <td>{{ (produit.reparation).nomReparation ~ " " ~ (produit.model)}}</td>
					                            <td>{{panier[produit.id]}}</td>
					                            <td>{{ produit.prix }} €</td>
					                            <td>{{ produit.prix * panier[produit.id] }} €</td>
					                   		</form>
					                    </tr>
					                 {% set totalTTC = totalTTC + (produit.prix * panier[produit.id]) %}
			          	
			                        {% endfor %}
	                   
			                    </tbody>
			                </table>
			                        <dt>Total TTC :</dt><dd>{{totalTTC}} €</dd>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	{% include '::footer.html.twig' %}
{% endblock body %}