{% extends 'base.html.twig' %}

{% block body %}
    {% include '::menuAction.html.twig' %} 
    <h1 style="text-align:center;">Liste des réparations</h1>

    <table class="table table-striped table-bordered" style="border: 15px solid grey; border-spacing:10px;">
        <thead>
            <tr style="text-align:center;">
                <th style="text-align:center;">Id</th>
                <th style="text-align:center;">Nom de la réparation</th>
                <th style="text-align:center;">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reparation in reparations %}
            <tr style="text-align:center;">
                <td><a href="{{ path('Reparation_show', { 'id': reparation.id }) }}">{{ reparation.id }}</a></td>
                <td>{{ reparation.nomReparation }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('Reparation_show', { 'id': reparation.id }) }}">Afficher cette réparation</a>
                        </li>
                        <li>
                            <a href="{{ path('Reparation_edit', { 'id': reparation.id }) }}">Modifier cette réparation</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul >
        <li style="text-align:center;">
            <a href="{{ path('Reparation_new') }}">Ajouter une nouvelle réparation</a>
        </li>
    </ul>
{% endblock %}
