{% extends 'base.html.twig' %}


{% block body %}
    {% include '::menuAction.html.twig' %} 


    <div  style="margin-left:auto; margin-right:auto;">
        <div class="col-lg-12 col-lg-offset 6">
            <div class="well well-lg col-lg-6">
                <h1 style="text-align:center;">Modifier un modèle</h1 >
                <div style="text-align:center;" >     
                    {{ form_start(edit_form) }}
                        {{ form_widget(edit_form) }}
                        <input type="submit" value="Modifier" />
                    {{ form_end(edit_form) }}
                </div>

                <ul style="text-align:center;">
                    <li>
                        <a href="{{ path('modele_index') }}">Revenir en arrière</a>
                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                            <input type="submit" value="Supprimer">
                        {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
   
{% endblock %}
