{% extends 'base.html.twig' %}

{% block body %} 
   {% include '::menuAction.html.twig' %} 
    <h1 style="text-align:center;">liste des modeles </h1>

    <table class="table table-striped table-bordered" style="border: 15px solid grey; border-spacing:10px;">
        <thead>
            <tr style="text-align:center;">
                
                <th style="text-align:center;">Id</th>
                <th style="text-align:center;">Nommodele</th>
                <th style="text-align:center;">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for modele in modeles %}
            <tr  style="text-align:center;">
                
                <td><a href="{{ path('modele_show', { 'id': modele.id }) }}">{{ modele.id }}</a></td>
                <td>{{ modele.nomModele }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('modele_show', { 'id': modele.id }) }}">Afficher ce modèle</a>
                        </li>
                        <li>
                            <a href="{{ path('modele_edit', { 'id': modele.id }) }}">Modifier ce modèle</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li style="text-align:center;">
            <a href="{{ path('modele_new') }}" >ajouter un nouveau modèle</a>
        </li>
    </ul>
    {% include '::footer.html.twig' %}
{% endblock %}

