<div class="barstep ">
    <div class="col-md-offset-4">
      <div class="step1">
          <a href="{{ path('multi_service_gsm_front_marques') }}" type="button" class="btn btn-cirle btn-primary">1</a>
           <p>Marque</p>
      </div>
			{% if modeles is defined %}
      <div class=" step1">
        <a href="#" type="button" class ="btn btn-cirle btn-primary">2</a>
        <p>Modèle</p>
      </div>
      <div class="step1">
        <a href="#" type="button" class="btn btn-cirle btn-default">3</a>
        <p>panne</p>
      </div>
      <div class=" step1">
        <a href="#" type="button" class="btn btn-cirle btn-default">4</a>
        <p>Réparations</p>
      </div>
      <!--
    -->
    </div>
</div>
				{% set var=1%}
				{% for modele in modeles %}
					{% if var==1 %}
						<h1>{{modele.marque}}</h1>
						{% set var=2%}
					{% endif %}aas
					<div class="col-xs-12 col-sm-4 col-md-2 rep">
	                  	<section class="rep1">
	                  		<a href="{{ path('multi_service_gsm_front_model_reparation', {'marque':(modele.marque).slug, 'modele': modele.slug } ) }}">
		                  	<img src="{{ asset('images/'~modele.slug~'.jpg') }}" /> </a>
		                    <p class"nam">{{modele.slug}}</p>
		                </section>
	              </div>
				{% endfor %}
			{% endif %}