<div class="barstep ">
    <div class="col-md-offset-4">
      <div class="step1">
          <a href="{{ path('multi_service_gsm_front_marques') }}" type="button" class="btn btn-cirle btn-primary">1</a>
            <p>Marque</p>
      </div>
		{% if tarifs is defined %}
		<div class=" step1">
        <a href="#" type="button" class ="btn btn-cirle btn-primary">2</a>
        <p>Modèle</p>
      </div>
      <div class="step1">
        <a href="#" type="button" class="btn btn-cirle btn-primary">3</a>
        <p>panne</p>
      </div>
      <div class=" step1">
        <a href="#" type="button" class="btn btn-cirle btn-primary">4</a>
        <p>Réparations</p>
      </div>	
				{% set var=1%}
			    {% for tarif in tarifs %}
			    	{% if var==1 %}
			    			<h1>{{tarif.model}}</h1>
						{% set var=2%}
					{% endif %}
						<div class="col-xs-12 col-sm-4 col-md-2 rep">
	                  	<section class="rep1">
	                  		<a href="{{ path('multi_service_gsm_front_fiche_reparation', {'marque':((tarif.model).marque).slug, 'modele': (tarif.model).slug,'reparation':tarif.reparation } ) }}">
		                  		<img src="{{ asset('images/reparations/'~tarif.reparation~'.png') }}" /> 
		                  	</a>
		                    <p class"nam">{{tarif.reparation}}</p>
		                </section>
	              </div>
			    {% endfor %}
			   
		{% endif %}
