{% extends 'base.html.twig' %}

{% block body %}
     {% include '::menuAction.html.twig' %} 
    <h1 style="text-align:center;">liste des tarifs</h1>
    <br>
     <ul style="text-align:center;">
        <p>
            <a href="{{ path('tarif_new') }}">Ajouter un nouveau tarif</a>
        </p>
    </ul>
    <table class="table table-striped table-bordered" style="border: 15px solid grey; border-spacing:10px;">
        <thead>
            <tr style="text-align:center;">
                <th style="text-align:center;">Id</th>
                <th style="text-align:center;">Modèle</th>
                <th style="text-align:center;">Reparation</th>
                <th style="text-align:center;">Prix</th>
                <th style="text-align:center;">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tarif in tarifs %}
            <tr style="text-align:center;">
                <td><a href="{{ path('tarif_show', { 'id': tarif.id }) }}">{{ tarif.id }}</a></td>
                <td>{{ tarif.model }}</td>
                <td>{{ tarif.reparation}}</td>
                <td>{{ tarif.prix }}€</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tarif_show', { 'id': tarif.id }) }}">afficher ce tarif</a>
                        </li>
                        <li>
                            <a href="{{ path('tarif_edit', { 'id': tarif.id }) }}">Modifier ce tarif</a>
                        </li>
                        
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul style="text-align:center;">
        <p>
            <a href="{{ path('tarif_new') }}">Ajouter un nouveau tarif</a>
        </p>
    </ul>
{% endblock %}
